/* Navbar.css */

.navbar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo img {
    max-width: 100px;
    height: auto;
  }
  
  .navbar-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #FFA500; /* Change to your desired hover color */
  }
  